:root {
    --Orange: #ff6319;
    --LightGray: #f1f5f7;
    --DarkGray: #252525; 
}

/*--- Estilos Generales ---*/
* {
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
    box-sizing: border-box;
}

a {
    padding-bottom: 8px;
    display: inline-block;
    text-decoration: none;
    position: relative;
}

a:after {    
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: #fff;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}

a:hover:after { 
    width: 100%; 
    left: 0; 
}

section {
    padding: 60px 0;
}

    section h2 {
        font-size: 34px;
        font-weight: 500;
    }

    section p {
        margin: 40px 0;
        font-size: 18px;
        font-weight: 300;
    }

.center {
    width: 90%;
    max-width: 1000px;
    margin: auto;
}

/*-- Botón --*/
.btn {
    text-align: center;
    padding: 16px 44px;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    color: #fff;
    border: none;
    border-radius: 4px;
    background: var(--Orange);
    box-shadow: 0 6px 10px 0 rgba(52, 31, 97, 0.4);
    cursor: pointer;
    outline: none;
}

    a.btn {
        display: inline-block;
    }

a:active, button:active {
    position: relative;
    top: 1px;
}

body {
    background: var(--LightGray);
}

/*--- Cabecera ---*/
header {
    padding: 16px;
    background: #121313;
}

    header nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

        header nav a {
            font-size: 18px;
            color: #fff;
        }

/*--- Principal ---*/
main {
    height: 536px;
    display: flex;
    align-items: center;
    background-image: url(../img/Compu.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

    main .text {
        width: 400px;
        color: #fff;
    }

        main .text h2 {
            font-size: 34px;
            font-weight: 500;
            animation: Entrada_1 .8s ease-in-out .10s forwards;
            opacity: 0;
        }

        main .text p {
            margin: 40px 0;
            font-size: 20px;
            font-weight: 300;
            animation: Entrada_2 .8s ease-in-out .5s forwards;
            opacity: 0;
        }

        main .text button {
            animation: Entrada_3 1s ease-in-out 1s forwards;
            opacity: 0; 
        }

        main .Compu-movil {
            display: none;
        }

/*--- Sección: Gestión poderosa ---*/
.gestion {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

    .gestion .text {
        width: 400px;
    }

        .gestion .text h2 {
            color: var(--Orange);
        }

    .gestion .hex-img {
        width: 500px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-flow: wrap;
    }

        .gestion .hex-img img {
            width: 160px;
            padding: 0 6px;
        }

/*--- Sección: Lista ---*/
.lista {
    height: 405px;
    display: flex;
    align-items: center;
    background-image: url(../img/Foto.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

    ul li {
        width: auto;
        padding-top: 16px;
        padding-left: 16px;
        font-size: 18px;
        font-weight: 300;
        color: #fff;
        list-style-image: url(../img/check.png);
    }

        ul li b {
            font-weight: 600;
        }

/*--- Sección: Lista ---*/
.calculator h2 {
    margin: 40px 0;
    text-align: center;
    color: var(--Orange);
}

.calculator_container {
    padding: 40px 0 50px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--DarkGray);
}

    .row {
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
    }

        .row .col-1, .row .col-3 {
            text-align: center;
        }

            .row .col-1 h4, .row .col-3 h4 {
                margin-bottom: 20px;
                font-size: 14px;
                font-weight: 400;
            }

        .row .col-2 {
            margin: 0 40px;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
        }
        
            .row .col-2 span {
                width: 45px;
                height: 45px;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 24px;
                font-weight: 600;
                color: var(--Orange);
                border: none;
                border-radius: 4px;
                background: #fff;
                box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
            }

            .row .col-2 .btn {
                width: 280px;
                position: absolute;
                top: 110px;
                left: 50%;
                transform: translate(-50%, -50%);
            }

        .price {
            display: flex;
            font-size: 40px;
        }

            .dollar-sign {
                margin-top: -4px;
                margin-right: 2px;
                font-size: 22px;
            }

            .exchange-rate {
                margin-left: 2px;
                margin-bottom: 6px;
                align-self: flex-end;
                font-size: 12px;
                text-transform: uppercase;
            }

    .calculator_container input {
        width: 200px;
        padding: 10px;
        margin: 0 16px;
        font-size: 22px;
        font-weight: 500;
        color: #4a4a4a;
        border: none;
        border-radius: 4px;
        outline: none;
    }

.banner-1 {
    height: 243px;
    padding: 80px 0;
    background-image: url(../img/Page1.png);
    background-position: left;
    background-size: auto;
    background-repeat: no-repeat;
    box-sizing: content-box;
}

    .banner-1-container {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .banner-1 h2 {
        color: #fff;
    }

.banner-2 {
    height: 243px;
    background-image: url(../img/plecanegra.png);
    background-position: right;
    background-size: auto;
    background-repeat: no-repeat;
    box-sizing: content-box;
}

    .banner-2 h2 {
        color: #fff;
    }

    .banner-2-container {
        height: 100%;
        display: flex;
        align-items: center;
    }

        .banner-2-container .row {
            margin: auto;
            display: flex;
            align-items: center;
            justify-content: center;
        }

            .banner-2-container .row .col {
                width: 140px;
                margin: 0 16px;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                padding: 20px;
            }

                .banner-2-container .row .col p {
                    width: 100%;
                    margin: 16px 0 0 0;
                    font-size: 14px;
                    font-weight: 500;
                    text-align: center;
                }
.contacto {
  background: var(--Orange);
}

    .contacto h2 {
        margin-bottom: 40px;
        text-align: center;
        color: #fff;
    }

    .contacto form {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .contacto input, .contacto textarea {
        width: 100%;
        max-width: 45%;
        margin: 10px;
        padding: 16px;
        border: none;
        border-radius: 4px;
    }

    .contacto .btn {
        width: 100%;
        max-width: 45%;
        margin-top: 20px;
        background: var(--DarkGray);
    }

footer {
    padding: 100px 0 180px 0;
    background: var(--DarkGray);
}

    footer a, footer p {
        margin: 4px 0;
        font-size: 14px;
        color: #c8c8c8;
    }

    footer .row {
        padding-bottom: 16px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 2px solid #c8c8c8;
    }

    footer .row .col {
        display: flex;
        flex-direction: column;
    }

    footer .row .col a {
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }

    footer .row .col a img {
        width: 20px;
        margin-right: 10px;
    }

/*--- Animaciones ---*/
@keyframes Entrada_1 {
    from {
        transform: translateY(25px);
        opacity: 0;
    }

    to {
        transform: translateY(0px);
        opacity: 1;
    }
}

@keyframes Entrada_2 {
    from {
        transform: translateY(35px);
        opacity: 0;
    }

    to {
        transform: translateY(0px);
        opacity: 1;
    }
}

@keyframes Entrada_3 {
    from {
        transform: translateY(35px);
        opacity: 0;
    }

    to {
        transform: translateY(0px);
        opacity: 1;
    }
}


/*--- Responsive ---*/
@media only screen and (max-width: 1030px) {
    main .text {
        width: 360px
    }
}

@media only screen and (max-width: 1024px) {
    .gestion .text {
        width: 320px;
    }

        .gestion .hex-img img {
            width: 140px;
        }
}

@media only screen and (max-width: 917px) {
    main .text {
        width: 320px
    }

    main .text h2 {
        font-size: 30px;
    }

    main .text p {
        font-size: 18px;
    }

    main .text a {
        font-size: 18px;
    }

    .gestion .text {
        width: 300px;
    }

    .gestion .hex-img {
        width: 360px;
    }

    .gestion .hex-img img {
        width: 120px;
    }
}

@media only screen and (max-width: 860px) {
    main .text {
        width: 240px
    }

    main .text h2 {
        font-size: 28px;
    }

    main .text p {
        font-size: 16px;
    }

    main .text a {
        font-size: 16px;
    }
}

@media only screen and (max-width: 735px) {
    .calculator_container input {
        width: 60px;
    }

    .banner-2-container .row .col {
        margin: 0 6px;
    }
}

@media only screen and (max-width: 765px) {
    .gestion .text {
        width: 240px;
    }
}

@media only screen and (max-width: 675px) {
    main {
        height: auto;
        padding-top: 60px;
        flex-direction: column;
        background-image: url(../img/OE9TU70.png);
    }

    main .center {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: center;
    }

    main .Compu-movil {
        margin-top: 40px;
        width: 100%;
        height: auto;
        display: block;
    }

    main .text {
        width: 320px
    }

    main .text h2 {
        font-size: 36px;
    }

    main .text p {
        font-size: 18px;
    }

    main .text a {
        font-size: 18px;
    }


    .gestion {
        flex-direction: column;
        text-align: center;
    }

    .gestion .text h2 {
        font-size: 36px;
    }

    .gestion .text p {
        font-size: 18px;
    }


    .lista {
        height: 758px;
        background-image: url(../img/pesas_movil.png);
    }

    .lista .center {
        width: 50%;
        margin-top: 0;
    }

    .calculator_container .row {
        flex-direction: column;
    }

    .calculator_container .row .col-2 {
        margin: 20px 40px;
    }

    .row .col-2 .btn {
        top: 200px;
    }


    .banner-1-container {
        padding: 30px;
        flex-direction: column;
        text-align: center;
    }

    .banner-1-container img {
        width: 300px;
    }

    .banner-2-container {
        padding-top: 30px;
        flex-direction: column;
    }

    .contacto input, .contacto textarea {
        max-width: none;
    }

    footer .row {
        flex-direction: column-reverse;
    }
}

@media only screen and (max-width: 530px) {
    .lista {
        height: 1200px;
    }

    .banner-1-container h2 {
        font-size: 30px;
    }

    .banner-2-container .row .col {
        width: auto;
        padding: 6px;
    }

    .banner-2-container .row .col img {
        width: 30px;
    }
}

@media only screen and (max-width: 365px) {
    .gestion .hex-img {
        width: 300px;
    }

    .gestion .hex-img img {
        width: 80px;
    }

    .banner-2-container .row .col {
        padding: 0px;
    }

    .banner-2-container .row .col img {
        width: 24px;
    }
}

@media only screen and (max-width: 375px) {
    header nav img {
        width: 100px;
    }
    
    header nav a {
        font-size: 14px;
    }
}